<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Main" connectionString="Server=VLAD-PC\SQL2012;Database=WpfLearn;Trusted_Connection=true;"/>-->
    <add name="Main" connectionString="Server=.\Sqlexpress;Database=WpfLearn;Trusted_Connection=true;"/>
  </connectionStrings>
</configuration>
